.search-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 10px 0px;
}

.search-bar h1 {
    font-family: 'Poppins';
    line-height: 60px;
    font-style: normal;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    width: 450px;
    height: 40px;
    border-radius: 5px;
    padding: 0 1rem;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: #282c38;
    color: #fff;
    display: flex;
}

.search-box svg {
    height: 1.75rem;
    width: 1.75rem;
    transform: translateY(6px);
    margin-right: .5rem;
    color: #a5a5a5;
}

.search-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
}

.layouts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
}

.layout:hover {
    cursor: pointer;
}