.tags {
    display: flex;
    padding: 1rem 2rem;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 30px;
    margin: 0 1rem;
    background-color: #282c38;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
}

.tag:first-child {
    margin-left: 0;
    background-color: yellow;
    color: black;
}